:root {
    /* ===============  logo  ================== */
    --logo-font: 'Dorsa', sans-serif;
    --logo-font-size: 59.58px;
    --logo-top: -24px;
    --logo-left: 444px;
    --logo-radius: 50%;
    --logo-color: #FFFFFF;
    --logo-width: 140px;
    --logo-height: 140px;
    /* ===============  nav-header  ================== */
    --header-width: 1025px;
    --nav-header-font: 'Pathway Gothic One', sans-serif;
    --nav-width: 270px;
    --nav-font-size: 28px;
    --link-color: #FFFFFF;
    --link-hover-color: #263555;
    /* ===============  nav-sub  ================== */
    --nav-sub-font-size: 20px;
    --nav-sub-background-color: rgba(255, 255, 255, 0.9);
    --nav-sub-width: 58px;
    --link-sub-color: #263555;
    --link-sub-hover-color: #00BFFF;
    /* =======================  wrpapper  ======================= */
    --title-caption-font: 'Pathway Gothic One', sans-serif;
    --title-caption-font-size: 32px;
    --title-caption-font-color: #263555;
    --wrapper-color: #FFFFFF;
    --wrapper-width: 1025px;
    --wrapper-height: 80px;
    --wrapper-margin: 90px;
    --wrapper-padding: 70px;
    --wrapper-bottom-background-color: #30455b;
    --bottom-list-font: 'Open Sans Condensed', sans-serif;
    --bottom-list-font-size: 16px;
    --bottom-list-font-color: #FFFFFF;
    --bottom-list-hover-color: #00BFFF;
    --bottom-tel-font: 'Arial', sans-serif;
    --bottom-tel-font-size: 12px;
    --bottom-tel-font-color: #FFFFFF;
    --footer-font: 'Arial', sans-serif;
    --footer-font-size: 12px;
    --fixed-background-color: #00BFFF;
}

body {
    padding: 47px;
    background-repeat: no-repeat;
    background-image: url(../images/Layer57.png);
    background-size: cover;
}


/* =======================  nav-header  ======================= */

.nav-header {
    font-family: var(--nav-header-font);
    width: var(--header-width);
    margin: auto;
    margin-bottom: 50px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-size: var(--nav-font-size);
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: space-between;
    width: var(--nav-width);
    padding: 0;
}

.logo {
    border-radius: var(--logo-radius);
    background: var(--logo-color);
    position: absolute;
    top: var(--logo-top);
    left: var(--logo-left);
    width: var(--logo-width);
    height: var(--logo-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sign {
    font-family: var(--logo-font);
    font-size: var(--logo-font-size);
    font-stretch: inherit;
}

.item {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--link-color);
}

.link:hover {
    color: var(--link-hover-color);
    transition: 0.3s;
}


/*  ============ sub-menu =================== */

.sub {
    position: relative;
}

.nav-sub {
    font-size: var(--nav-sub-font-size);
    position: absolute;
    text-align: center;
    top: 28px;
    left: -3px;
    margin: 0px;
    padding: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
}

.sub:hover .nav-sub {
    max-height: 200px;
    transition: 0.5s;
}

.item-sub {
    width: var(--nav-sub-width);
    background-color: var(--nav-sub-background-color);
    padding: 2px;
}

.item-sub:first-child {
    border-radius: 4px 4px 0 0;
    margin-top: 15px;
    position: relative;
}

.item-sub:last-child {
    border-radius: 0 0 4px 4px;
}

.item-sub:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 4px solid transparent;
    border-bottom-color: var(--nav-sub-background-color);
    left: 26px;
    top: -9px;
}

.item-sub:hover {
    background-color: var(--nav-sub-background-color);
}

.link-sub {
    text-decoration: none;
    color: var(--link-sub-color);
    display: block;
}

.link-sub:hover {
    color: var(--link-sub-hover-color);
    transition: 0.2s;
}


/* ============ end sub-menu =================== */


/* ============= end header-nav  ============== */

.title-caption {
    font-family: var(--title-caption-font);
    font-size: var(--title-caption-font-size);
    color: var(--title-caption-font-color);
    margin: 0;
    margin-bottom: 40px;
}


/* =======================  wrpapper  ======================= */

.wrapper {
    display: flex;
    flex-direction: column;
    width: var(--wrapper-width);
    margin: var(--wrapper-margin) auto;
    padding-top: var(--wrapper-padding);
    background-color: var(--wrapper-color);
}


/* =======================  main-container  ======================= */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: calc(var(--wrapper-margin)*0.7) calc(var(--wrapper-margin)*0.7);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: calc(var(--wrapper-margin)*0.35) 0;
}

.flex-item {
    overflow: hidden;
    width: 288px;
    height: 155px;
    filter: brightness(65%);
    transition: all 0.3s ease-out;
}

.flex-item:hover {
    filter: brightness(100%);
    cursor: url(../images/ic_zoom_in_white_24dp_2x.png), pointer;
    transform: scale(1.1);
}


/* ============ wrapper-bottom ================ */

.wrapper-bottom {
    display: flex;
    justify-content: center;
    width: var(--wrapper-width);
    height: calc(var(--wrapper-height)*1.62);
    margin: auto;
    background-color: var(--wrapper-bottom-background-color);
}

.bottom-content-left {
    display: flex;
    justify-content: end;
    width: 60%;
}

.bottom-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.bottom-content-list {
    width: calc(var(--main-right-content-width)*0.8);
    columns: 3;
    margin: auto 30px;
    padding: 0;
}

.bottom-list {
    list-style: none;
}

.bottom-list>a {
    font-family: var(--bottom-list-font);
    font-size: var(--bottom-list-font-size);
    color: var(--bottom-list-font-color);
    text-decoration: none;
}

.bottom-list>a:hover {
    color: var(--bottom-list-hover-color);
    filter: grayscale(80%);
}

.bottom-contact {
    font-family: var(--bottom-list-font);
    font-size: calc(var(--bottom-list-font-size)*1.05);
    color: var(--bottom-list-font-color);
    margin: 0;
    padding: 0;
}

.bottom-contact-tel {
    font-family: var(--bottom-tel-font);
    font-size: var(--bottom-tel-font-size);
    color: var(--bottom-tel-font-color);
    margin: 0;
    padding: 0;
}

.bottom-contact-mail {
    font-family: var(--bottom-tel-font);
    font-size: var(--bottom-tel-font-size);
    color: var(--bottom-tel-font-color);
    margin: 0;
    padding: 0;
}


/* ============ footer ============== */

.social-nets-link {
    position: relative;
    overflow: hidden;
    margin: 50px auto 20px;
    width: calc(var(--wrapper-width)*0.22);
}

.social-nets-link li {
    float: left;
    list-style: none;
    margin-right: 12px;
}

.social-nets-link a {
    display: block;
    width: calc(var(--wrapper-height)*0.5);
    height: calc(var(--wrapper-height)*0.5);
    background: url(../images/sprite.png) 0 0 no-repeat;
}

.social-nets-link .facebook {
    background-position: -42px 0px;
}

.social-nets-link .google {
    background-position: -86px 0px;
}

.social-nets-link .instagram {
    background-position: -128px 0px;
}

.social-nets-link a:hover {
    background-position: 0px -40px;
    filter: grayscale(90%);
}

.social-nets-link .facebook:hover {
    background-position: -42px -40px;
}

.social-nets-link .google:hover {
    background-position: -86px -40px;
}

.social-nets-link .instagram:hover {
    background-position: -128px -40px;
}

footer {
    font-family: var(--footer-font);
    font-size: var(--footer-font-size);
    margin: auto;
    padding: 0;
    text-align: center;
    color: #ffff
}


/* ============ end footer ============== */


/* ============ fixed ============== */

.fixed {
    background-color: var(--fixed-background-color);
    width: calc(var(--wrapper-height)*0.5);
    height: calc(var(--wrapper-height)*0.5);
    border-radius: 25px;
    position: fixed;
    top: 850px;
    right: 450px;
    filter: grayscale(30%);
}

.fixed:before {
    content: '';
    width: 15px;
    height: 0;
    border-top: 3px solid #fff;
    position: absolute;
    top: 17px;
    left: 17px;
    transform: rotate(45deg);
}

.fixed:after {
    content: '';
    width: 15px;
    height: 0;
    border-top: 3px solid #fff;
    position: absolute;
    top: 17px;
    left: 8px;
    transform: rotate(-45deg);
}

.fixed:hover {
    filter: grayscale(0%);
}